h1{
color: rgb(98, 122, 86);
font-family: Arial;
font-weight: bold;
}
body{
background-image: url(images.jfif);
background-size: cover;
background-repeat: no-repeat;
height: 150px; ;
text-align: center;
}
h4{
color: rgb(43, 55, 40);
background-color: rgba(134, 167, 128, 0.751);
border: 3px solid rgba(31, 41, 31, 0.442);
border-radius: 10px;
}
header{
color: rgb(22, 98, 29);
background-color: rgb(34, 63, 31);
text-align: center;
font-size: 50px;
font-weight: bolder;
height: 100px;
width: auto;
font-family:Arial ;
}
nav{
font-weight: bold;
color: rgb(8, 31, 12);
background-color:rgb(34, 63, 31) ;
font-size: 30px;
text-align: center;
font-family: Arial;
display: flex;
justify-content: space-around;
text-decoration: none;
}
a{
    text-decoration: none;
    color: rgb(10, 32, 14);
}










