body{
background-image: url(https://www.igroshop.com/images/companies/1/Uncharted%20PC%20Sc2.jpg?1666240533801);
background-size:cover;
margin: 0;
padding: 0;
height: 150px; 
}
header{
color: rgb(71, 63, 52);
background-color: rgb(255, 215, 142);
text-align: center;
font-size: 70px;
font-weight: bolder;
height: 100px;
width: auto;
font-family:Arial ;

}


nav{
font-weight: bold;
color: black;
background-color:rgb(255, 215, 142) ;
font-size: 30px;
text-align: center;
font-family: Arial;
display: flex;
justify-content: space-around;
}
a{
text-decoration: none;
color: black;
}
footer{
    position: absolute;
background-color: rgba(255, 215, 142, 0.855);
color: rgb(63, 55, 19);
height: 60px;
width: 100%;
bottom: 0;
text-align: left;
}


































































